

<mat-card class="cardWithShadow theme-card">
<mat-card-header>
  <mat-card-title class="m-b-0">Persona</mat-card-title>
</mat-card-header>
<mat-card-content class="b-t-1">

  <!-- inicio matcard -->

  <form #userForm="ngForm">
<div class="row">
  <!-- primera columna -->
  <div class="col-lg-6 col-sm-6">
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >nombres
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input
          type="text"
          matInput
          required
            id="nombres"
            name="nombres"
          placeholder="Nombres"
          [(ngModel)]="personaDialog.nombres">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Apellidos
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required id="apellidos"
          name="apellidos" matInput placeholder="Apellidos" [(ngModel)]="personaDialog.apellidos">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Fecha de nacimiento
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="fechaNac"
          name="fechaNac" [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="personaDialog.fechaNac">
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
	<div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Direccion
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="direccion"
          name="direccion" placeholder="Direccion" [(ngModel)]="personaDialog.direccion">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Direccion
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="referencia"
          name="referencia" placeholder="Referencia" [(ngModel)]="personaDialog.referencia">
        </mat-form-field>
      </div>
    </div>
	<!-- <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Estado
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="6.-estado" [(ngModel)]="personaDialog.status">
        </mat-form-field>
      </div>
    </div> -->

  </div>

  <!-- segunda columna -->
  <div class="col-lg-6 col-sm-6">
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Celular
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="celular"
          name="celular" placeholder="Nro de Celular" [(ngModel)]="personaDialog.celular">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Edad
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required id="edad"
          name="edad" matInput  placeholder="Edad" [(ngModel)]="personaDialog.edad">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >Email
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="email"
          name="email" placeholder="Email" [(ngModel)]="personaDialog.email">
        </mat-form-field>
      </div>
    </div>
    <!-- tipo documento -->
	<!-- <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >TipoDoc
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="10.-tipodoc" [(ngModel)]="personaDialog.tipoDoc">
        </mat-form-field>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >TypeDoc
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>DNI, Carnet Extranjeria, Ruc</mat-label>
          <select matNativeControl
          required
          id="tipoDoc"
          name="tipoDoc"
          placeholder="Tipo de Documento"
          [(ngModel)]="personaDialog.tipoDoc" >
              <option value="dni">DNI</option>
              <option value="cex">Carnet Extranjeria</option>
              <option value="ruc">RUC</option>
          </select>
        </mat-form-field>
      </div>
    </div>
<!-- fin tipo documento -->
	<div class="row">
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
          >NroDoc
        </mat-label>
      </div>
      <div class="col-sm-8">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" required matInput id="nroDoc"
          name="nroDoc"  placeholder="Numero de Documento" [(ngModel)]="personaDialog.nroDoc">
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
<mat-action-row class="align-items-left ">
  <button mat-flat-button color="primary" mat-button (click)="operate2()"[disabled]="!userForm.valid">Done</button>
  <button mat-flat-button color="warn" mat-button (click)="close()">Cancel</button>
</mat-action-row>
</form>
<!-- fin mat-card -->
</mat-card-content>
</mat-card>


