<mat-card class="bg-light-primary cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between m-b-8">
      <!-- Filtrar-->
      <div class="col-lg-3 col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label class="text-primary">Busca aquí</mat-label>
          <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtrar" #input />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center">

        <div class="m-l-auto">
          <button mat-flat-button color="primary" (click)="openDialog()">Nuevo</button>
        </div>
      </div>

    </div>


  </mat-card-content>
</mat-card>
<mat-card class="bg-light-primary cardWithShadow">
  <mat-card-content class="p-24">

    <div class="table-responsive m-t-30">
      <mat-table class="bg-light-primary" [dataSource]="dataSource" matSort>
        <!-- ID Column -->

        <!-- ID Column -->


        <!-- Leader Column -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary f-w-600 mat-subtitle-1 f-s-14">
            Descripcion
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="f-w-600 p-6 p-y-4 f-s-14">{{ row.descripcion }} </span>
          </mat-cell>
        </ng-container>

        <!-- Leader Column -->
        <ng-container matColumnDef="abrev">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary f-w-600 mat-subtitle-1 f-s-14">
            Abreviatura
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="f-w-600 p-6 p-y-4 f-s-14">{{ row.abrev }} </span>
          </mat-cell>
        </ng-container>

        <!-- Estate Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary f-w-600 mat-subtitle-1 f-s-14">
            Estado
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="d-flex align-items-center gap-12 p-y-14" *ngIf="row.status;then activo;  else inactivo">
              <!--<span class="f-s-16 f-w-600">{{ row.state }}</span>-->
            </div>
            <ng-template #activo>
              <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14">Activo</span>
            </ng-template>
            <ng-template #inactivo>
              <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14">Inactivo</span>
            </ng-template>

          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary f-w-600 mat-subtitle-1 f-s-14">
            Acciones
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="d-flex align-items-center gap-12 p-y-14">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
              (click)="openDialog(row)"
              matTooltip="Editar"
              matTooltipPosition="above">
                <i-tabler class="icon-20" name="edit"></i-tabler>
              </button>
              <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
              (click)="delete(row.id)"
              matTooltip="Eliminar"
              matTooltipPosition="below">
                <i-tabler class="icon-20"
                name="trash"></i-tabler>
              </button>
              @if(!row.status){
              <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon"
              (click)="initialized(row.id)"
              matTooltip="Activar"
              matTooltipPosition="above">
                <i-tabler class="icon-20" name="arrow-narrow-up"></i-tabler>
              </button>
            }
              @else{
              <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="finalized(row.id)" matTooltip="Desactivar" matTooltipPosition="right">
                <i-tabler class="icon-20" name="arrow-narrow-down"></i-tabler>
              </button>
            }
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>

        <!-- Row shown when there is no matching data. -->

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro"{{ input.value }}"
          </td>
        </tr>

      </mat-table>

      <mat-paginator class="bg-light-primary" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of Person"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


