:host {
    display: block;
  }
  
  .mat-column-item {
    width: 10%;
  }
  
  .mat-column-descripcion {
    width: 60%;
   }

   .mat-column-status {
    width: 10%;
   }
  
  .mat-column-actions {
    width: 10%;
  }
  