<mat-card-header>
  <mat-card-title class="m-b-0">Rol</mat-card-title>
</mat-card-header>
<mat-card-content class="b-t-1">
  <mat-dialog-content style="max-width: 600px">
    <form [formGroup]="rolForm">
      <div class="row">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Descripcion</mat-label>
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            [formControl]="rolForm.controls.name"
            [(ngModel)]="rol.name"
            placeholder="Nombre"
          />
          @if(rolForm.controls.name.touched &&rolForm.controls.name.invalid){
          <mat-hint class="m-b-16 error-msg">
            @if (rolForm.controls.name.hasError('required')) {
            <div class="text-error">Descripcion <strong>requerido</strong></div>
            }
          </mat-hint>
          }
        </mat-form-field>
      </div>

      <mat-action-row>
        <button
          mat-flat-button
          (click)="operate()"
          mat-flat-button
          color="primary"
          [disabled]="rolForm.invalid"
        >
          Guardar
        </button>
        <button mat-stroked-button color="warn" class="m-l-8" (click)="close()">
          Cancelar
        </button>
      </mat-action-row>
    </form>
  </mat-dialog-content>
</mat-card-content>
