<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <!-- Rol y Búsqueda -->
      <div class="col-lg-6">
        <div class="row">
          <!-- Select Rol -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Rol</mat-label>
              <mat-select
                [(ngModel)]="rolId_select"
                (selectionChange)="onRolSelected($event)"
              >
                <!-- 🔹 Opción para no seleccionar ningún rol -->
                <mat-option [value]="null">-- Todos --</mat-option>

                <mat-option *ngFor="let e of rols" [value]="e.id">
                  {{ e.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Input Búsqueda -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 hide-hint">
              <mat-label>Buscar Persona</mat-label>
              <input
                matInput
                placeholder="Buscar Persona"
                (keyup)="applyFilter($any($event.target).value)"
              />
              <mat-icon matSuffix>
                <i-tabler name="search" class="icon-20"></i-tabler>
              </mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Botón Nuevo -->
      <div class="col-lg-3 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog()" color="primary">
          Nuevo
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100" matSort>
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Item</th>
          <td mat-cell *matCellDef="let row; let i = index" class="f-s-14">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Usuario
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.userName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Rol</th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.rol_Descripcion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DescripcionPersona">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Apellidos y Nombre(s)
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.nombreCompleto }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Unidadorganica">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Dependencias
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            <button
              mat-stroked-button
              color="primary"
              class="m-l-auto"
              (click)="openDialog_UsuarioAsociadoUnidadorganica(row)"
            >
              {{ row.cantidadUnidadOrganica }} - Asociado(s)
            </button>
          </td>
        </ng-container>

        <div class="flex gap-2 justify-end w-full">
          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Estado
            </th>
            <td mat-cell *matCellDef="let row" class="f-s-14">
              <div
                class="d-flex align-items-center gap-12 p-y-14"
                *ngIf="row.estado; then activo; else inactivo"
              >
                <!--<span class="f-s-16 f-w-600">{{ row.state }}</span>-->
              </div>
              <ng-template #activo>
                <span
                  class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14"
                  >Activo</span
                >
              </ng-template>
              <ng-template #inactivo>
                <span
                  class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14"
                  >Inactivo</span
                >
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Acciones
            </th>
            <td mat-cell *matCellDef="let row" class="action-link">
              @if(!row.estado){
              <a
                (click)="habilitarUsuario(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Habilitar este usuario. Recuperará el acceso al sistema."
                matTooltipPosition="above"
              >
                <i-tabler name="circle-arrow-up" class="icon-18"></i-tabler>
              </a>
              @if(!row.mustChangePassword){
              <a
                (click)="onResetearPassword(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Obligar a cambiar la contraseña en el próximo inicio de sesión"
                matTooltipPosition="right"
              >
                <i-tabler name="repeat-once" class="icon-18"></i-tabler>
              </a>
              } } @else{
              <a
                (click)="deshabilitarUsuario(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Deshabilitar este usuario. No podrá acceder al sistema hasta ser habilitado nuevamente."
                matTooltipPosition="right"
              >
                <i-tabler name="circle-arrow-down" class="icon-18"></i-tabler>
              </a>

              }
            </td>
          </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
