:host {
    display: block;
  }

  .mat-column-item {
    width: 5%;
   }

  .mat-column-Usuario {
    width: 7%;
   }

   .mat-column-Rol {
    width: 7%;
   }

   .mat-column-Unidadorganica {
    width: 7%;
   }

  .mat-column-Estado {
    width: 7%;
   }

  .mat-column-actions {
    width: 7%;
  }
