<h2 mat-dialog-title class="m-b-24">{{ titulo }}</h2>

<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="max-width: 600px">
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Persona</mat-label>
      <input
        type="text"
        placeholder="Buscar y Seleccionar Persona"
        matInput
        [formControl]="firstControl"
        [matAutocomplete]="auto"
      />

      <mat-icon matSuffix>
        <i-tabler name="search" class="icon-20"></i-tabler>
      </mat-icon>

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayPersona"
        (optionSelected)="onPersonaSelected($event.option.value)"
      >
        <mat-option
          *ngFor="let persona of filteredOptions | async"
          [value]="persona"
        >
          {{ persona.nombreCompleto }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Entidad</mat-label>
      <mat-select formControlName="idEntidad">
        <mat-option *ngFor="let e of entidades" [value]="e.id">
          {{ e.descripcion }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="usuarioForm.get('idEntidad')?.hasError('required')"
        >Campo requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Unidad Orgánica</mat-label>
      <mat-select formControlName="idDependencia">
        <mat-option *ngFor="let u of unidadorganicas" [value]="u.id">
          {{ u.descripcion }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="usuarioForm.get('idDependencia')?.hasError('required')"
        >Campo requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option *ngFor="let e of rols" [value]="e.name">
          {{ e.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="usuarioForm.get('idRol')?.hasError('required')"
        >Campo requerido</mat-error
      >
    </mat-form-field>

    <div class="row m-t-20">
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Usuario</mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input
            matInput
            placeholder="Usuario"
            formControlName="username"
            [disabled]="true"
          />
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Contraseña</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input matInput value="[DNI INGRESADO]Aa* " [disabled]="true" />
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="accent">
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          [disabled]="true"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions class="p-24">
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    [disabled]="usuarioForm.invalid"
    color="primary"
    (click)="onSubmit()"
  >
    Guardar
  </button>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
