:host {
  display: block;
}

.mat-column-item {
  width: 7%;
}

.mat-column-desde {
  width: 7%;
}

.mat-column-hasta {
  width: 7%;
}

.mat-column-estado {
  width: 7%;
}

.mat-column-actions {
  width: 7%;
}
