<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Buscar Persona"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog()" color="primary">
          Nuevo
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Item</th>
          <td mat-cell *matCellDef="let row; let i = index" class="f-s-14">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Nombres
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.nombres }}
          </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Apellidos
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.apellidoPat }} {{ row.apellidoMat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaNac">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Fecha de Nacimiento
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.fechaNac | date : "dd-MM-yyyy" : "" : "es" }}
          </td>
        </ng-container>

        <div class="flex gap-2 justify-end w-full">
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Estado
            </th>
            <td mat-cell *matCellDef="let row" class="f-s-14">
              <div
                class="d-flex align-items-center gap-12 p-y-14"
                *ngIf="row.estado; then activo; else inactivo"
              >
                <!--<span class="f-s-16 f-w-600">{{ row.state }}</span>-->
              </div>
              <ng-template #activo>
                <span
                  class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14"
                  >Activo</span
                >
              </ng-template>
              <ng-template #inactivo>
                <span
                  class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14"
                  >Inactivo</span
                >
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Acciones
            </th>
            <td mat-cell *matCellDef="let row" class="action-link">
              <a
                (click)="openDialog(row)"
                class="m-r-10 cursor-pointer"
                matTooltip="Editar"
                matTooltipPosition="above"
                ><i-tabler name="edit" class="icon-18"></i-tabler
              ></a>
              <a
                (click)="delete(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Eliminar"
                matTooltipPosition="below"
              >
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </a>
              @if(!row.estado){
              <a
                (click)="initialized(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Habilitar"
                matTooltipPosition="above"
              >
                <i-tabler name="circle-arrow-up" class="icon-18"></i-tabler>
              </a>
              } @else{
              <a
                (click)="finalized(row.id)"
                class="m-r-10 cursor-pointer"
                matTooltip="Deshabilitar"
                matTooltipPosition="right"
              >
                <i-tabler name="circle-arrow-down" class="icon-18"></i-tabler>
              </a>
              }
            </td>
          </ng-container>
          <!-- Filas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- 🔹 Fila vacía con matNoDataRow -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell text-center"
              [attr.colspan]="displayedColumns.length"
            >
              <span class="f-s-14 f-w-500 text-muted">
                No se encontraron registros
              </span>
            </td>
          </tr>
        </div>
      </table>
      <mat-paginator
        [length]="totalRecords"
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
