<h2 mat-dialog-title class="m-b-24">{{ titulo }}</h2>

<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="max-width: 600px">
  <form [formGroup]="entidadForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripcion</mat-label>
      <input
        matInput
        required
        placeholder="Nombres"
        formControlName="descripcion"
        appEnterKeyFocus
      />
      @if(entidadForm.controls.descripcion.touched &&
      entidadForm.controls.descripcion.invalid){
      <mat-hint class="m-b-16 error-msg">
        @if(entidadForm.controls.descripcion.hasError('required')){
        <div class="text-error">Nombre(s) <strong>requeridos</strong></div>
        }
      </mat-hint>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Ruc</mat-label>
      <input
        matInput
        required
        placeholder="RUC"
        formControlName="ruc"
        appEnterKeyFocus
        minlength="11"
        maxlength="11"
        inputmode="numeric"
        pattern="\d*"
      />

      @if(entidadForm.controls.ruc.touched&&entidadForm.controls.ruc.invalid){
      <mat-hint class="m-b-16 error-msg">
        @if(entidadForm.controls.ruc.hasError('required')){
        <div class="text-error">Ruc <strong>requerido</strong></div>
        } @else if(entidadForm.controls.ruc.hasError('minlength') ||
        entidadForm.controls.ruc.hasError('maxlength')){
        <div class="text-error">RUC debe tener <strong>11 dígitos</strong></div>
        } @else if(entidadForm.controls.ruc.hasError('pattern')){
        <div class="text-error">
          RUC debe contener <strong>solo números</strong>
        </div>
        }
      </mat-hint>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions class="p-24">
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    [disabled]="entidadForm.invalid"
    color="primary"
    (click)="guardar()"
  >
    Guardar
  </button>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
