<h2 mat-dialog-title class="m-b-24">{{ unidadorganicaDescripcion }}</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography" style="max-width: 600px">
  <mat-list>
    @for (row of usuarios(); let i = $index; track row.idUsuario) {
    <mat-list-item>
      {{ row.numdoc }} - {{ row.descripcionPersona }}
    </mat-list-item>
    }
  </mat-list>

  <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
    Opciones seleccionadas:
    {{ seleccionadas }}
  </p>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions class="p-24">
  <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
