
<mat-card-header>
  <mat-card-title class="m-b-0">Aplicacion</mat-card-title>
</mat-card-header>
<mat-card-content class="b-t-1">
<mat-dialog-content style="max-width: 600px">
  <form [formGroup]="appForm">

    <div class="row">

      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="descripcion"
            name="descripcion"
            [formControl]="appForm.controls.descripcion"
            [(ngModel)]="aplicacion.descripcion"
            placeholder="Descripcion"
          />
          @if(appForm.controls.descripcion.touched
          &&appForm.controls.descripcion.invalid){
          <mat-hint class="m-b-16 error-msg">
            @if (appForm.controls.descripcion.hasError('required')) {
            <div class="text-error">Descripcion <strong>requerido</strong></div>
            }
          </mat-hint>
          }
        </mat-form-field>
      </div>

    </div>

     <div class="row">

      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="w-100" >
          <mat-select
          [(ngModel)]="aplicacion.idSede"
          placeholder="Aplicacion"
          required id="idAplicacion"
          [formControl]="appForm.controls.idSede" >
            @for(sede of sedes; track $index){
              <mat-option [value]="sede.id" [disabled]="this.disableSelect.value">{{sede.descripcion | uppercase}}</mat-option>
            }
            </mat-select>
            @if(appForm.controls.idSede.touched
            &&appForm.controls.idSede.invalid){
            <mat-hint class="m-b-16 error-msg">
              @if (appForm.controls.idSede.hasError('required')) {
              <div class="text-error">Sede <strong>requerida</strong></div>
              }
            </mat-hint>
            }
        </mat-form-field>
      </div>

    </div>
    <mat-action-row>
      <button
      mat-flat-button
      (click)="operate()"
      mat-flat-button
      color="primary"
      [disabled]="appForm.invalid"
    >
      Guardar
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="m-l-8"
      (click)="close()"
    >
      Cancelar
    </button>
  </mat-action-row>
  </form>
</mat-dialog-content>
</mat-card-content>

<!------------------------------------------>
