<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0" style="background-image: url('/assets/images/backgrounds/Foto_6.svg') " >
      <div class="p-24 h-100">
        <!-- <app-branding></app-branding> -->

        <img
            src="/assets/images/logos/logo_goreu_text_ligth.png"
            alt="login"
            style="max-width: 20%"/>


        <!-- <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        > -->
          <!-- <img
            src="/assets/images/backgrounds/backgroung2.png"
            alt="login"
            style="max-width: 100%"

          /> -->
        <!-- </div> -->
      </div>
    </div>

    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">

          <div class="col-lg-9 max-width-form">
            <div class="text-center">
            <img
            src="/assets/images/logos/logo_goreu_ligth.png"
            alt="login"
            style="max-width: 60%"/>
          </div>
            <div class="or-border m-t-30">Inicio de Sesión</div>

            <form class="m-t-30" [formGroup]="loginForm" >
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >DNI</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="dni" />
                @if(loginForm.controls.dni.touched
                &&loginForm.controls.dni.invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if (loginForm.controls.dni.hasError('minlength')) {
                  <div class="text-error">El DNI debe tener 8 digitos</div>
                  } @if (loginForm.controls.dni.hasError('maxlength')) {
                    <div class="text-error">El DNI no debe tener más 8 digitos</div>
                    }
                  @if (loginForm.controls.dni.hasError('required')) {
                  <div class="text-error">Dni es <strong>requerido</strong></div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Contraseña</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input
                  type="password"
                  matInput
                  [formControl]="loginForm.controls.password"
                />
                @if(loginForm.controls.password.touched &&
                loginForm.controls.password.invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if (loginForm.controls.password.hasError('minlength') &&
                  !loginForm.controls.password.hasError('required')) {
                  <div class="text-error">
                    Contraseña debe tener al menos 8 dígitos
                  </div>
                  } @if (loginForm.controls.password.hasError('required')) {
                  <div class="text-error">
                    Contraseña es <strong>requerida</strong>
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <app-simple-captcha (verified)="onCaptchaVerified($event)" />

              <div class="d-flex align-items-center m-b-12">
                <a
                routerLink="/forgot-password"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >¿Olvidaste tu contraseña ?</a
              >
              </div>
              <!-- <div class="d-flex align-items-center m-b-12">
                <a
                routerLink="/reset-password"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >reset</a
              >
              </div> -->

              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!loginForm.valid || !captchaValid"
              (click)="login()"
              >
                Iniciar Sesión
              </button>
              <!-- input -->
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

