@if (isVisible) {
<mat-card-content>
  <div class="row taskboard m-t-24" cdkDropListGroup>
    <div class="col-lg-12">
      <div class="taskboard-wrapper">
        <div class="taskboard-list onhold">
          <div class="taskboard-cards" cdkDropList>
            <div class="taskboard-task" cdkDrag>
              <div class="f-s-16 m-b-4 f-w-600">{{ title }}</div>
              <span class="task-decription f-s-14">{{ description }}</span>

              <div class="d-flex justify-content-end">
                <button
                  mat-icon-button
                  class="d-flex justify-content-center"
                  (click)="close()"
                >
                  <mat-icon class="d-flex justify-content-center">
                    <i-tabler name="trash" class="icon-18 d-flex"></i-tabler>
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
}
