<mat-card-header>
  <mat-card-title class="m-b-0">Cambiar Contraseña</mat-card-title>
</mat-card-header>
<mat-card-content class="b-t-1">
  <mat-dialog-content style="max-width: 600px">
    <form class="m-t-30" [formGroup]="loginForm">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
        >Contraseña Actual</mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControl]="loginForm.controls.OldPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon class="op-5">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(loginForm.controls.OldPassword.touched &&
        loginForm.controls.OldPassword.invalid){
        <mat-hint class="m-b-16 error-msg">
          @if (loginForm.controls.OldPassword.hasError('minlength') &&
          !loginForm.controls.OldPassword.hasError('required')) {
          <div class="text-error">Contraseña debe tener al menos 8 dígitos</div>
          } @if (loginForm.controls.OldPassword.hasError('required')) {
          <div class="text-error">
            la nueva actual Contraseña es <strong>requerida</strong>
          </div>
          }
        </mat-hint>
        }
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
        >Nueva Contraseña</mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input
          matInput
          [type]="alignhide ? 'password' : 'text'"
          [formControl]="loginForm.controls.NewPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="alignhide = !alignhide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="alignhide"
        >
          <mat-icon class="op-5">{{
            alignhide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(loginForm.controls.NewPassword.touched &&
        loginForm.controls.NewPassword.invalid){
        <mat-hint class="m-b-16 error-msg">
          @if (loginForm.controls.NewPassword.hasError('minlength')) {
          <div class="text-error">Contraseña debe tener al menos 8 dígitos</div>
          } @if (loginForm.controls.NewPassword.hasError('required')) {
          <div class="text-error">
            la nueva Contraseña es <strong>requerida</strong>
          </div>
          }
        </mat-hint>
        }
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="w-100"
        [disabled]="loginForm.invalid"
        (click)="changePassword()"
      >
        Cambiar contraseña
      </button>
      <br /><br />
      <mat-action-row>
        <button mat-stroked-button color="warn" class="m-l-8" (click)="close()">
          Cancelar
        </button>
      </mat-action-row>

      <!-- input -->
    </form>
  </mat-dialog-content>
</mat-card-content>
