<h2 mat-dialog-title class="m-b-24">CAMBIAR CONTRASEÑA</h2>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography" style="max-width: 600px">
  <form class="m-t-30" [formGroup]="loginForm">
    <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
      >Contraseña Actual</mat-label
    >
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="loginForm.controls.OldPassword"
        placeholder="Ingrese aqui su Contraseña"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="op-5">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if(loginForm.controls.OldPassword.touched &&
      loginForm.controls.OldPassword.invalid){
      <mat-hint class="m-b-16 error-msg">
        @if (loginForm.controls.OldPassword.hasError('minlength') &&
        !loginForm.controls.OldPassword.hasError('required')) {
        <div class="text-error">Contraseña debe tener al menos 8 dígitos</div>
        } @if (loginForm.controls.OldPassword.hasError('required')) {
        <div class="text-error">
          la nueva actual Contraseña es <strong>requerida</strong>
        </div>
        }
      </mat-hint>
      }
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
      >Nueva Contraseña</mat-label
    >
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input
        matInput
        [type]="alignhide ? 'password' : 'text'"
        [formControl]="loginForm.controls.NewPassword"
        placeholder="Ingrese aqui su Nueva Contraseña"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="alignhide = !alignhide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="alignhide"
      >
        <mat-icon class="op-5">{{
          alignhide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if(loginForm.controls.NewPassword.touched &&
      loginForm.controls.NewPassword.invalid){
      <mat-hint class="m-b-16 error-msg">
        @if (loginForm.controls.NewPassword.hasError('minlength')) {
        <div class="text-error">Contraseña debe tener al menos 8 dígitos</div>
        } @if (loginForm.controls.NewPassword.hasError('required')) {
        <div class="text-error">
          la nueva Contraseña es <strong>requerida</strong>
        </div>
        }
      </mat-hint>
      }
    </mat-form-field>

    <!-- Confirmar Contraseña -->
    <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
      >Confirme Contraseña</mat-label
    >
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input
        matInput
        [type]="alignhide ? 'password' : 'text'"
        formControlName="ConfirmPassword"
        placeholder="Confirmar Contraseña"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="alignhide = !alignhide"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon class="op-5">{{
          alignhide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (loginForm.get('ConfirmPassword')?.touched &&
      loginForm.get('ConfirmPassword')?.invalid) {
      <mat-hint class="m-b-16 error-msg">
        @if (loginForm.get('ConfirmPassword')?.hasError('required')) {
        <div class="text-error">
          Confirmar contraseña es <strong>requerido</strong>
        </div>
        } @if (loginForm.hasError('passwordMismatch')) {
        <div class="text-error">Las contraseñas no coinciden</div>
        }
      </mat-hint>
      }
    </mat-form-field>

    <!-- input -->
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions class="p-24">
  <button
    mat-flat-button
    [disabled]="loginForm.invalid || isLoading"
    color="primary"
    (click)="changePassword()"
  >
    @if (!isLoading) { Cambiar contraseña } @else { Procesando… }
  </button>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
