:host {
    display: block;
  }
  
  .mat-column-item {
    width: 10%;
  }
  
  .mat-column-descripcion {
    width: 70%;
   }

   .mat-column-status {
    width: 10%;
   }
  
  .mat-column-acciones {
    width: 10%;
  }
  